<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>

      <% include ../static/partials/messages.ejs %>

      <h1>Wikis</h1>

      <% if(currentUser && (currentUser.role == 'standard' && currentUser.id != collaborator.userId)) { %>
        <a href="/wikis/new" class="btn btn-success">New Wiki</a>

        <ul class="list-group">
          <% wikis.forEach((wiki) => { %>
            <% if(wiki.private == false) { %>
              <li class="list-group-item">
                <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
              </li>
            <% } %>
          <% }) %>
        </ul>

      <% } else if (currentUser && (currentUser.role == 'premium' || currentUser.role == 'admin')) { %>
        <a href="/wikis/new" class="btn btn-success">New Wiki</a>

        <ul class="list-group">
          <% wikis.forEach((wiki) => { %>
            <% if((wiki.private == true && wiki.userId == currentUser.id) || wiki.private == false) { %>
            <li class="list-group-item">
              <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
            </li>
            <% } %>
          <% }) %>
        </ul>

        <% } else if (currentUser && (currentUser.id == collaborator.userId)) { %>
          <a href="/wikis/new" class="btn btn-success">New Wiki</a>

          <ul class="list-group">
            <% wikis.forEach((wiki) => { %>
              <% if((wiki.private == true && currentUser.id == collaborator.userId) || wiki.private == false) { %>
              <li class="list-group-item">
                <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
              </li>
              <% } %>
            <% }) %>
          </ul>

        <% } else { %>
          <ul class="list-group">
            <% wikis.forEach((wiki) => { %>
              <% if(wiki.private == false) { %>
                <li class="list-group-item">
                  <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
                </li>
              <% } %>
            <% }) %>
          </ul>
        <% } %>
    </main>
  </body>
</html>
